<div class="main" {{bind-attr class="themeLeft"}}>

  <section class="left">
    <div class="markdown">
      {{textarea placeholder="Write your markdown here" value=markdown}}
    </div>
  </section>

  <section class="right">
    <ul class="styles">
      <li {{action 'mossTheme'}} title='Moss'>
        {{radio-button class='moss' value='one' checked=selectedNumber}}
      </li>
      <li {{action 'shadowTheme'}} title='Heroku'>
        {{radio-button class='shadow' value='two' checked=selectedNumber alt='Shadow'}}
      </li>
      <li {{action 'fireTheme'}} title='Night Vision'>
        {{radio-button class='fire' value='three' checked=selectedNumber alt='Night Vision'}}
      </li>
    </ul>
    <div class="html">
      {{showdown-addon markdown}}
    </div>
  </section>

</div>

{{outlet}}
